

div {
    cursor: pointer;
}

/* static menu icon with html and css */
.menu-icon-static div {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    background-color: #000;
}

/* animated menu icon with html and css */
.menu-icon-animate {
    display: inline-block;
}

.menu-icon-animate div {
    width: 35px;
    height: 5px;
    margin: 5px 0;
    background-color: #000;
    transition: 0.5s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-8px, -6px);
}

