* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.accordion {
    background-color: #300060;
    width: 100%;
    padding: 15px;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
    color: #fff;
    margin: 1px 0;
    font-size: 18px;
}

.active, .accordion:hover {
    background-color: #3000b0;
}

.accordion::after {
    content: "\02795";
    float: right;
    font-size: 18px;
}

.active::after {
    content: "\02796";
    font-size: 18px;
}

.panel::before {
    content: "";
    display: table;
    clear: both;
}

.panel {
    max-height: 0;
    padding: 0 15px;
    overflow: hidden;
    margin-bottom: 2px;
    background-color: #fafafa;
    transition: max-height 0.5s ease-out;
}